{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'css/site.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/icons.css' %}" type='text/css'>
{#        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type='text/css'>#}
        <link rel="stylesheet" href="{% static 'css/textarea.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>twitter</title>
    </head>
    <body class="">
        <header role="banner" class="pt-2">
            <div class="float-right h-100 menu px-20">
                <div class="w-100">
                    <a href="{% url 'home' %}" class="transition twitter">
                        <i class="fab fa-twitter pb-4"></i>
                    </a>
                    <a href="{% url 'home' %}" class="transition menu-link " id="home">
                        <div class="menu-button text-center">
                            <div class="row px-05">
                                <i class="fas fa-home pr-2 font-ico ico"></i><span class="btn-text h5">Главная</span>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'search' %}" class="transition menu-link ">
                        <div class="menu-button">
                            <div class="row px-05">
                                <i class="fas fa-hashtag pr-2 font-ico ico"></i><span class="btn-text h5">Поиск</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="transition menu-link ">
                        <div class="menu-button">
                            <div class="row px-05">
                                <i class="far fa-bookmark pr-2 font-ico ico"></i><span class="btn-text h5">Закладки</span>
                            </div>
                        </div>
                    </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:profile' id=user.id %}" class="transition menu-link ">
                            <div class="menu-button text-center">
                                <div class="row px-05">
                                    <i class="far fa-user pr-2 font-ico ico"></i><span class="btn-text h5">Профиль</span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    <a href="#" class="transition menu-link">
                        <div class="menu-button text-center ">
                            <div class="row px-05 ">
                                <i class="fas fa-cog pr-2 font-ico ico "></i><span class="btn-text h5">Настройки</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="transition menu-button twit-btn d-table">
                        <span class="w-100 h6 d-table-cell align-middle">Твитнуть</span>
                    </a>
                </div>

                {% if user.is_authenticated %}
                    <div class="user mt-auto transition">
                        <div class="row px-1">
                            <img src="//placehold.it/39" class="rounded-circle user-icon transition" />
                            <div class="dropup user-dropup">
                                <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p class="user-p">{{ user }}</p>
                                    <p class="user-p">{{ user.id }}</p>
                                </div>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <form class="dropdown-item" action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </header>
        <main class=" px-0 content">
            {% block content %}
            {% endblock %}
        </main>

{#    <script src="{% static 'jquery/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/site.js' %}"></script>
    </body>
</html>